<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
            <div class="encabezado">
                <div><img src="/public/images/logo-mercado-liebre.svg", alt="logo-mercado-liebre" class="logo-mercado-liebre"></div>
                <div class="barra-busquedas">
                    <input type="search" placeholder="Buscar productos">
                </div>
                <div class="sub-title"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjetas de credito</div>
            </div>
        <nav class="main-nav-bar">
                <ul class="nav-general">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-usuario">
                    <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </nav>
        <div class="burger-menu">
            <strong><i class="fas fa-bars"></i></strong>
            </div>
    </header>
    <main class="main">
        <div><img src="/public/images/img-home-banner.jpg" alt=""></div>
        <section>
            <h1>Basado en tu ultima visita</h1>
                <div class="articulos">
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-cafetera-moulinex.jpg" alt=""></div>
                    <div class="detalles">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-macbook-pro-2019.jpg" alt=""></div>
                    <div class="detalles">    
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-samsung-galaxy-s10.jpg" alt=""></div>
                    <div class="detalles">   
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripcion">Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-tv-samsung-smart.jpg" alt=""></div>
                    <div class="detalles">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
                </div>
        </section>
        <section>
            <h1>Ofertas</h1>
            <div class="articulos">
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-cafetera-moulinex.jpg" alt=""></div>
                    <div class="detalles">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-macbook-pro-2019.jpg" alt=""></div>
                    <div class="detalles">    
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-samsung-galaxy-s10.jpg" alt=""></div>
                    <div class="detalles">   
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripcion">Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div class="imagen-articulo"><img src="/public/images/img-tv-samsung-smart.jpg" alt=""></div>
                    <div class="detalles">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
            </section>
        </section>
    </main>
    <footer>
        <i class="fa-solid fa-credit-card"></i>
        <p>Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fa-solid fa-gift"></i>
        <p>Envío gratis desde $ 2.500
        </p> por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fa-solid fa-user-shield"></i>
        <p>Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>